InformationInTransit/ProcessLogic/AlphabetSequenceWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Hello">
        <s:complexType />
      </s:element>
      <s:element name="HelloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="word" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IDResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeEd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="percent" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeEdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeEdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IAmAfraidOfTheMark">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="word" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="scriptureReference" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IAmAfraidOfTheMarkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IAmAfraidOfTheMarkResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InSuch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="word" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="booksCollection" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InSuchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InSuchResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LeviticusAirDrop">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="word" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bookIDs" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LeviticusAirDropResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LeviticusAirDropResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Query">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="word" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TwoField">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="bookID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="chapterID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="verseID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="increment" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="choice" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TwoFieldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TwoFieldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WhereAboutOfGodIsWhereAboutIKnow">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="word" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WhereAboutOfGodIsWhereAboutIKnowResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WhereAboutOfGodIsWhereAboutIKnowResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WhoSoughtTheEarlierPeopleTrial">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="word" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WhoSoughtTheEarlierPeopleTrialResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WhoSoughtTheEarlierPeopleTrialResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="YourIDOrWhatDoYouWriteYourCommonID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="scriptureReference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="scriptureSelection" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="YourIDOrWhatDoYouWriteYourCommonIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="YourIDOrWhatDoYouWriteYourCommonIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="int" type="s:int" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloSoapIn">
    <wsdl:part name="parameters" element="tns:Hello" />
  </wsdl:message>
  <wsdl:message name="HelloSoapOut">
    <wsdl:part name="parameters" element="tns:HelloResponse" />
  </wsdl:message>
  <wsdl:message name="IDSoapIn">
    <wsdl:part name="parameters" element="tns:ID" />
  </wsdl:message>
  <wsdl:message name="IDSoapOut">
    <wsdl:part name="parameters" element="tns:IDResponse" />
  </wsdl:message>
  <wsdl:message name="DeEdSoapIn">
    <wsdl:part name="parameters" element="tns:DeEd" />
  </wsdl:message>
  <wsdl:message name="DeEdSoapOut">
    <wsdl:part name="parameters" element="tns:DeEdResponse" />
  </wsdl:message>
  <wsdl:message name="IAmAfraidOfTheMarkSoapIn">
    <wsdl:part name="parameters" element="tns:IAmAfraidOfTheMark" />
  </wsdl:message>
  <wsdl:message name="IAmAfraidOfTheMarkSoapOut">
    <wsdl:part name="parameters" element="tns:IAmAfraidOfTheMarkResponse" />
  </wsdl:message>
  <wsdl:message name="InSuchSoapIn">
    <wsdl:part name="parameters" element="tns:InSuch" />
  </wsdl:message>
  <wsdl:message name="InSuchSoapOut">
    <wsdl:part name="parameters" element="tns:InSuchResponse" />
  </wsdl:message>
  <wsdl:message name="LeviticusAirDropSoapIn">
    <wsdl:part name="parameters" element="tns:LeviticusAirDrop" />
  </wsdl:message>
  <wsdl:message name="LeviticusAirDropSoapOut">
    <wsdl:part name="parameters" element="tns:LeviticusAirDropResponse" />
  </wsdl:message>
  <wsdl:message name="QuerySoapIn">
    <wsdl:part name="parameters" element="tns:Query" />
  </wsdl:message>
  <wsdl:message name="QuerySoapOut">
    <wsdl:part name="parameters" element="tns:QueryResponse" />
  </wsdl:message>
  <wsdl:message name="TwoFieldSoapIn">
    <wsdl:part name="parameters" element="tns:TwoField" />
  </wsdl:message>
  <wsdl:message name="TwoFieldSoapOut">
    <wsdl:part name="parameters" element="tns:TwoFieldResponse" />
  </wsdl:message>
  <wsdl:message name="WhereAboutOfGodIsWhereAboutIKnowSoapIn">
    <wsdl:part name="parameters" element="tns:WhereAboutOfGodIsWhereAboutIKnow" />
  </wsdl:message>
  <wsdl:message name="WhereAboutOfGodIsWhereAboutIKnowSoapOut">
    <wsdl:part name="parameters" element="tns:WhereAboutOfGodIsWhereAboutIKnowResponse" />
  </wsdl:message>
  <wsdl:message name="WhoSoughtTheEarlierPeopleTrialSoapIn">
    <wsdl:part name="parameters" element="tns:WhoSoughtTheEarlierPeopleTrial" />
  </wsdl:message>
  <wsdl:message name="WhoSoughtTheEarlierPeopleTrialSoapOut">
    <wsdl:part name="parameters" element="tns:WhoSoughtTheEarlierPeopleTrialResponse" />
  </wsdl:message>
  <wsdl:message name="YourIDOrWhatDoYouWriteYourCommonIDSoapIn">
    <wsdl:part name="parameters" element="tns:YourIDOrWhatDoYouWriteYourCommonID" />
  </wsdl:message>
  <wsdl:message name="YourIDOrWhatDoYouWriteYourCommonIDSoapOut">
    <wsdl:part name="parameters" element="tns:YourIDOrWhatDoYouWriteYourCommonIDResponse" />
  </wsdl:message>
  <wsdl:message name="HelloHttpGetIn" />
  <wsdl:message name="HelloHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="IDHttpGetIn">
    <wsdl:part name="word" type="s:string" />
  </wsdl:message>
  <wsdl:message name="IDHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="DeEdHttpGetIn">
    <wsdl:part name="percent" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeEdHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="IAmAfraidOfTheMarkHttpGetIn">
    <wsdl:part name="word" type="s:string" />
    <wsdl:part name="scriptureReference" type="s:string" />
  </wsdl:message>
  <wsdl:message name="IAmAfraidOfTheMarkHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="InSuchHttpGetIn">
    <wsdl:part name="word" type="s:string" />
    <wsdl:part name="booksCollection" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InSuchHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LeviticusAirDropHttpGetIn">
    <wsdl:part name="word" type="s:string" />
    <wsdl:part name="bookIDs" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LeviticusAirDropHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="QueryHttpGetIn">
    <wsdl:part name="word" type="s:string" />
  </wsdl:message>
  <wsdl:message name="QueryHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="TwoFieldHttpGetIn">
    <wsdl:part name="bookID" type="s:string" />
    <wsdl:part name="chapterID" type="s:string" />
    <wsdl:part name="verseID" type="s:string" />
    <wsdl:part name="increment" type="s:string" />
    <wsdl:part name="choice" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TwoFieldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="WhereAboutOfGodIsWhereAboutIKnowHttpGetIn">
    <wsdl:part name="word" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WhereAboutOfGodIsWhereAboutIKnowHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="WhoSoughtTheEarlierPeopleTrialHttpGetIn">
    <wsdl:part name="word" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WhoSoughtTheEarlierPeopleTrialHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="YourIDOrWhatDoYouWriteYourCommonIDHttpGetIn">
    <wsdl:part name="scriptureReference" type="s:string" />
    <wsdl:part name="scriptureSelection" type="s:string" />
  </wsdl:message>
  <wsdl:message name="YourIDOrWhatDoYouWriteYourCommonIDHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="HelloHttpPostIn" />
  <wsdl:message name="HelloHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="IDHttpPostIn">
    <wsdl:part name="word" type="s:string" />
  </wsdl:message>
  <wsdl:message name="IDHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="DeEdHttpPostIn">
    <wsdl:part name="percent" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeEdHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="IAmAfraidOfTheMarkHttpPostIn">
    <wsdl:part name="word" type="s:string" />
    <wsdl:part name="scriptureReference" type="s:string" />
  </wsdl:message>
  <wsdl:message name="IAmAfraidOfTheMarkHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="InSuchHttpPostIn">
    <wsdl:part name="word" type="s:string" />
    <wsdl:part name="booksCollection" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InSuchHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LeviticusAirDropHttpPostIn">
    <wsdl:part name="word" type="s:string" />
    <wsdl:part name="bookIDs" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LeviticusAirDropHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="QueryHttpPostIn">
    <wsdl:part name="word" type="s:string" />
  </wsdl:message>
  <wsdl:message name="QueryHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="TwoFieldHttpPostIn">
    <wsdl:part name="bookID" type="s:string" />
    <wsdl:part name="chapterID" type="s:string" />
    <wsdl:part name="verseID" type="s:string" />
    <wsdl:part name="increment" type="s:string" />
    <wsdl:part name="choice" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TwoFieldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="WhereAboutOfGodIsWhereAboutIKnowHttpPostIn">
    <wsdl:part name="word" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WhereAboutOfGodIsWhereAboutIKnowHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="WhoSoughtTheEarlierPeopleTrialHttpPostIn">
    <wsdl:part name="word" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WhoSoughtTheEarlierPeopleTrialHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="YourIDOrWhatDoYouWriteYourCommonIDHttpPostIn">
    <wsdl:part name="scriptureReference" type="s:string" />
    <wsdl:part name="scriptureSelection" type="s:string" />
  </wsdl:message>
  <wsdl:message name="YourIDOrWhatDoYouWriteYourCommonIDHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="AlphabetSequenceWebServiceSoap">
    <wsdl:operation name="Hello">
      <wsdl:input message="tns:HelloSoapIn" />
      <wsdl:output message="tns:HelloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ID">
      <wsdl:input message="tns:IDSoapIn" />
      <wsdl:output message="tns:IDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeEd">
      <wsdl:input message="tns:DeEdSoapIn" />
      <wsdl:output message="tns:DeEdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IAmAfraidOfTheMark">
      <wsdl:input message="tns:IAmAfraidOfTheMarkSoapIn" />
      <wsdl:output message="tns:IAmAfraidOfTheMarkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InSuch">
      <wsdl:input message="tns:InSuchSoapIn" />
      <wsdl:output message="tns:InSuchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LeviticusAirDrop">
      <wsdl:input message="tns:LeviticusAirDropSoapIn" />
      <wsdl:output message="tns:LeviticusAirDropSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Query">
      <wsdl:input message="tns:QuerySoapIn" />
      <wsdl:output message="tns:QuerySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TwoField">
      <wsdl:input message="tns:TwoFieldSoapIn" />
      <wsdl:output message="tns:TwoFieldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WhereAboutOfGodIsWhereAboutIKnow">
      <wsdl:input message="tns:WhereAboutOfGodIsWhereAboutIKnowSoapIn" />
      <wsdl:output message="tns:WhereAboutOfGodIsWhereAboutIKnowSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WhoSoughtTheEarlierPeopleTrial">
      <wsdl:input message="tns:WhoSoughtTheEarlierPeopleTrialSoapIn" />
      <wsdl:output message="tns:WhoSoughtTheEarlierPeopleTrialSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="YourIDOrWhatDoYouWriteYourCommonID">
      <wsdl:input message="tns:YourIDOrWhatDoYouWriteYourCommonIDSoapIn" />
      <wsdl:output message="tns:YourIDOrWhatDoYouWriteYourCommonIDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AlphabetSequenceWebServiceHttpGet">
    <wsdl:operation name="Hello">
      <wsdl:input message="tns:HelloHttpGetIn" />
      <wsdl:output message="tns:HelloHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ID">
      <wsdl:input message="tns:IDHttpGetIn" />
      <wsdl:output message="tns:IDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DeEd">
      <wsdl:input message="tns:DeEdHttpGetIn" />
      <wsdl:output message="tns:DeEdHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="IAmAfraidOfTheMark">
      <wsdl:input message="tns:IAmAfraidOfTheMarkHttpGetIn" />
      <wsdl:output message="tns:IAmAfraidOfTheMarkHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="InSuch">
      <wsdl:input message="tns:InSuchHttpGetIn" />
      <wsdl:output message="tns:InSuchHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LeviticusAirDrop">
      <wsdl:input message="tns:LeviticusAirDropHttpGetIn" />
      <wsdl:output message="tns:LeviticusAirDropHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Query">
      <wsdl:input message="tns:QueryHttpGetIn" />
      <wsdl:output message="tns:QueryHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TwoField">
      <wsdl:input message="tns:TwoFieldHttpGetIn" />
      <wsdl:output message="tns:TwoFieldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WhereAboutOfGodIsWhereAboutIKnow">
      <wsdl:input message="tns:WhereAboutOfGodIsWhereAboutIKnowHttpGetIn" />
      <wsdl:output message="tns:WhereAboutOfGodIsWhereAboutIKnowHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WhoSoughtTheEarlierPeopleTrial">
      <wsdl:input message="tns:WhoSoughtTheEarlierPeopleTrialHttpGetIn" />
      <wsdl:output message="tns:WhoSoughtTheEarlierPeopleTrialHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="YourIDOrWhatDoYouWriteYourCommonID">
      <wsdl:input message="tns:YourIDOrWhatDoYouWriteYourCommonIDHttpGetIn" />
      <wsdl:output message="tns:YourIDOrWhatDoYouWriteYourCommonIDHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AlphabetSequenceWebServiceHttpPost">
    <wsdl:operation name="Hello">
      <wsdl:input message="tns:HelloHttpPostIn" />
      <wsdl:output message="tns:HelloHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ID">
      <wsdl:input message="tns:IDHttpPostIn" />
      <wsdl:output message="tns:IDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DeEd">
      <wsdl:input message="tns:DeEdHttpPostIn" />
      <wsdl:output message="tns:DeEdHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="IAmAfraidOfTheMark">
      <wsdl:input message="tns:IAmAfraidOfTheMarkHttpPostIn" />
      <wsdl:output message="tns:IAmAfraidOfTheMarkHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="InSuch">
      <wsdl:input message="tns:InSuchHttpPostIn" />
      <wsdl:output message="tns:InSuchHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LeviticusAirDrop">
      <wsdl:input message="tns:LeviticusAirDropHttpPostIn" />
      <wsdl:output message="tns:LeviticusAirDropHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Query">
      <wsdl:input message="tns:QueryHttpPostIn" />
      <wsdl:output message="tns:QueryHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TwoField">
      <wsdl:input message="tns:TwoFieldHttpPostIn" />
      <wsdl:output message="tns:TwoFieldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WhereAboutOfGodIsWhereAboutIKnow">
      <wsdl:input message="tns:WhereAboutOfGodIsWhereAboutIKnowHttpPostIn" />
      <wsdl:output message="tns:WhereAboutOfGodIsWhereAboutIKnowHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WhoSoughtTheEarlierPeopleTrial">
      <wsdl:input message="tns:WhoSoughtTheEarlierPeopleTrialHttpPostIn" />
      <wsdl:output message="tns:WhoSoughtTheEarlierPeopleTrialHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="YourIDOrWhatDoYouWriteYourCommonID">
      <wsdl:input message="tns:YourIDOrWhatDoYouWriteYourCommonIDHttpPostIn" />
      <wsdl:output message="tns:YourIDOrWhatDoYouWriteYourCommonIDHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AlphabetSequenceWebServiceSoap" type="tns:AlphabetSequenceWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Hello">
      <soap:operation soapAction="http://tempuri.org/Hello" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ID">
      <soap:operation soapAction="http://tempuri.org/ID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeEd">
      <soap:operation soapAction="http://tempuri.org/DeEd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IAmAfraidOfTheMark">
      <soap:operation soapAction="http://tempuri.org/IAmAfraidOfTheMark" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InSuch">
      <soap:operation soapAction="http://tempuri.org/InSuch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeviticusAirDrop">
      <soap:operation soapAction="http://tempuri.org/LeviticusAirDrop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query">
      <soap:operation soapAction="http://tempuri.org/Query" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TwoField">
      <soap:operation soapAction="http://tempuri.org/TwoField" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WhereAboutOfGodIsWhereAboutIKnow">
      <soap:operation soapAction="http://tempuri.org/WhereAboutOfGodIsWhereAboutIKnow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WhoSoughtTheEarlierPeopleTrial">
      <soap:operation soapAction="http://tempuri.org/WhoSoughtTheEarlierPeopleTrial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="YourIDOrWhatDoYouWriteYourCommonID">
      <soap:operation soapAction="http://tempuri.org/YourIDOrWhatDoYouWriteYourCommonID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AlphabetSequenceWebServiceSoap12" type="tns:AlphabetSequenceWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Hello">
      <soap12:operation soapAction="http://tempuri.org/Hello" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ID">
      <soap12:operation soapAction="http://tempuri.org/ID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeEd">
      <soap12:operation soapAction="http://tempuri.org/DeEd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IAmAfraidOfTheMark">
      <soap12:operation soapAction="http://tempuri.org/IAmAfraidOfTheMark" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InSuch">
      <soap12:operation soapAction="http://tempuri.org/InSuch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeviticusAirDrop">
      <soap12:operation soapAction="http://tempuri.org/LeviticusAirDrop" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query">
      <soap12:operation soapAction="http://tempuri.org/Query" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TwoField">
      <soap12:operation soapAction="http://tempuri.org/TwoField" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WhereAboutOfGodIsWhereAboutIKnow">
      <soap12:operation soapAction="http://tempuri.org/WhereAboutOfGodIsWhereAboutIKnow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WhoSoughtTheEarlierPeopleTrial">
      <soap12:operation soapAction="http://tempuri.org/WhoSoughtTheEarlierPeopleTrial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="YourIDOrWhatDoYouWriteYourCommonID">
      <soap12:operation soapAction="http://tempuri.org/YourIDOrWhatDoYouWriteYourCommonID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AlphabetSequenceWebServiceHttpGet" type="tns:AlphabetSequenceWebServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Hello">
      <http:operation location="/Hello" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ID">
      <http:operation location="/ID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeEd">
      <http:operation location="/DeEd" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IAmAfraidOfTheMark">
      <http:operation location="/IAmAfraidOfTheMark" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InSuch">
      <http:operation location="/InSuch" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeviticusAirDrop">
      <http:operation location="/LeviticusAirDrop" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query">
      <http:operation location="/Query" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TwoField">
      <http:operation location="/TwoField" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WhereAboutOfGodIsWhereAboutIKnow">
      <http:operation location="/WhereAboutOfGodIsWhereAboutIKnow" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WhoSoughtTheEarlierPeopleTrial">
      <http:operation location="/WhoSoughtTheEarlierPeopleTrial" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="YourIDOrWhatDoYouWriteYourCommonID">
      <http:operation location="/YourIDOrWhatDoYouWriteYourCommonID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AlphabetSequenceWebServiceHttpPost" type="tns:AlphabetSequenceWebServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Hello">
      <http:operation location="/Hello" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ID">
      <http:operation location="/ID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeEd">
      <http:operation location="/DeEd" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IAmAfraidOfTheMark">
      <http:operation location="/IAmAfraidOfTheMark" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InSuch">
      <http:operation location="/InSuch" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeviticusAirDrop">
      <http:operation location="/LeviticusAirDrop" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query">
      <http:operation location="/Query" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TwoField">
      <http:operation location="/TwoField" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WhereAboutOfGodIsWhereAboutIKnow">
      <http:operation location="/WhereAboutOfGodIsWhereAboutIKnow" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WhoSoughtTheEarlierPeopleTrial">
      <http:operation location="/WhoSoughtTheEarlierPeopleTrial" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="YourIDOrWhatDoYouWriteYourCommonID">
      <http:operation location="/YourIDOrWhatDoYouWriteYourCommonID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AlphabetSequenceWebService">
    <wsdl:port name="AlphabetSequenceWebServiceSoap" binding="tns:AlphabetSequenceWebServiceSoap">
      <soap:address location="http://localhost/WordEngineering/WordUnion/AlphabetSequenceWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="AlphabetSequenceWebServiceSoap12" binding="tns:AlphabetSequenceWebServiceSoap12">
      <soap12:address location="http://localhost/WordEngineering/WordUnion/AlphabetSequenceWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="AlphabetSequenceWebServiceHttpGet" binding="tns:AlphabetSequenceWebServiceHttpGet">
      <http:address location="http://localhost/WordEngineering/WordUnion/AlphabetSequenceWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="AlphabetSequenceWebServiceHttpPost" binding="tns:AlphabetSequenceWebServiceHttpPost">
      <http:address location="http://localhost/WordEngineering/WordUnion/AlphabetSequenceWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>